html {
  --light-gray: #f8f9fa;
  --fade-gray: #495057;
  --dark-gray: #343a40;
  --darker-gray: #212529;

  --fade-purple: #e7c7f5;
  --dark-purple: #7d6a9e;

  --fade-pink: #fbdddb;
  --dark-pink: #bc8da7;
}

html[data-theme='dark'] {
  --light-gray: #f8f9fa;
  --fade-gray: #495057;
  --dark-gray: #343a40;
  --darker-gray: #212529;

  --fade-purple: #e7c7f5;
  --dark-purple: #7d6a9e;

  --fade-pink: #fbdddb;
  --dark-pink: #bc8da7;
}

html[data-theme='light'] {
  --light-gray: #343a40;
  --fade-gray: #f8f9fa;
  --dark-gray: #e9ecef;
  --darker-gray: #ced4da;
  --fade-purple: #ae98d4;
  --dark-purple: #7d6a9e;

  --fade-pink: #bc8da7;
  --dark-pink: #785167;

  .theme-toggle button i:before {
    content: '\f186';
  }
}

body {
  background: var(--fade-gray);
  color: var(--light-gray);
  font-family: 'Raleway', sans-serif;
}

.sidebar {
  background: var(--dark-gray);
  height: 100vh;
  justify-content: center;
  padding-left: 20px;
  position: sticky;
  top: 0;
}

.sidebar a {
  color: var(--fade-pink);
  font-size: 24px;
  letter-spacing: 2px;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
}

.sidebar a:hover, .sidebar .active>a {
  color: var(--dark-pink);
  letter-spacing: 5px;
  animation: subtleShift 1s ease;
}

.sidebar li:hover, .sidebar li.active {
  border-right: 3px solid var(--dark-pink);
}

a {
  color: var(--fade-purple);
}

a:hover, a:active, .active>a {
  color: var(--dark-purple);
}

.contact-link:hover {
  text-decoration: none;
}

#content {
  padding: 10px;
  height: 100%;
}

.typewriter {
  font-family: 'Roboto Mono', monospace;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  font-size: 2.5rem;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.body-text {
  font-size: 18px;
  margin-left: 20px;
  margin-top: 20px;
}

#info-section {
  min-height: 93vh;
}

.footer {
  float: right;
}

.mobile-header {
  padding: 10px;
}

.mobile-header button, .theme-toggle button {  
  color: var(--fade-pink);
  font-size: 32px;
}

.mobile-header button:hover, .theme-toggle button:hover {
  color: var(--dark-pink);
}

.mobile-header button:focus, .theme-toggle button:focus {
  box-shadow: none;
}

.project-thumbnail {
  width: 250px;
  height: 150px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px var(--darker-gray);
}

.me-picture {
  box-shadow: 0 0 5px var(--darker-gray);
  transition: .3s ease;
}

.me-picture:hover {
  transform: rotate(-3deg);
  transition: .3s ease;
}

.poetry-img {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 5px var(--darker-gray);
  transition: .3s ease;
}

#poetry div:nth-child(even) .poetry-img:hover {
  transform: rotate(-3deg);
  transition: .3s ease;
}

#poetry div:nth-child(odd) .poetry-img:hover {
  transform: rotate(3deg);
  transition: .3s ease;
}

#poetry div:nth-child(1) {
  animation: slideOne 3s ease;
}

#poetry div:nth-child(2) {
  animation: slideTwo 5s ease;
}

#poetry div:nth-child(3) {
  animation: slideThree 8s ease;
}

@keyframes slideOne {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes slideTwo {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  40% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes slideThree {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  40% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.music-img, .music-pfp {
  box-shadow: 0 0 5px var(--darker-gray);
  transition: .3s ease;
}

.music-img:hover {
  transform: translateY(-10px);
  transition: .3s ease;
}

a.now-playing img {
  animation: pulse 1s infinite ease;
}

@keyframes pulse {
  0% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.project-box {
  width: 260px;
}

.project-box:hover {
  text-decoration: none;
  transform: scale(1.2);
  animation: smoothScale 1s ease;
}

@keyframes smoothScale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@media screen and (min-width: 767px) {
  .body-text {
    margin-top: 30px;
  }

  .mobile-header {
    display: none;
  }

  #info-section {
    padding: 40px;
  }
}

.video_container {
  height: 100%;
}

iframe {
  width: 100%;
  height: 40vw;
}

@media screen and (max-width: 767px) {
  .sidebar {
    display: none!important;
  }
  
  .sidebar.active {
    display: block!important;
    background: var(--dark-gray);
    position: absolute;
    z-index: 999999;
    width: 100%;
  }
}

@keyframes typing {
  from { 
    width: 0;
  }
  to { 
    width: 100%;
  }
}

@keyframes subtleShift {
  from {
    letter-spacing: 2px;
  }
  to {
    letter-spacing: 5px;
  }
}

::selection { 
  background: var(--fade-purple);
  color: var(--darker-gray); 
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--darker-gray);
}

::-webkit-scrollbar-thumb {
  background: var(--fade-purple);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-purple);
}
