$main-bg: #f6f6f6;
$main-text: #151515;

$card-bg: #e9e9e9;
$title-text: #aaaaaa;

$accent: #beaee8;

#theme-toggle {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;

  button {
    background: $main-bg;
    color: $title-text;
    border: none;
    padding: .75rem;
    border-radius: 0 0 0 20px;
    border-left: 1px solid $card-bg;
    border-bottom: 1px solid $card-bg;
    display: flex;
    justify-content: center;
    align-items: center;

    &:active, &:focus {
      outline: none;
    }

    i {
      &:before {
        content: '\f186';
      }
    }
  }
}

body {
  background: $main-bg;
  color: $main-text;
  font-family: 'Raleway', sans-serif;
}

#topbar {
  padding: 1rem;

  #navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;

    @media screen and (max-width: 776px) {
      flex-direction: column;
      align-items: start;
    }

    #nav-left {
      font-size: 1.8rem;
      font-weight: 900;
      letter-spacing: 3px;

      a {
        text-decoration: none !important;

        span:nth-child(1) {
          color: $accent;
        }

        span:nth-child(2) {
          color: $title-text;
        }

        &:hover, &:active, &:focus {
          span:nth-child(1) {
            color: darken($accent, 10%);
          }
  
          span:nth-child(2) {
            color: darken($title-text, 10%);
          }
        }
      }
    }

    #nav-right {
      font-size: 1.2rem;
      letter-spacing: 1px;

      a {
        margin: 0 .25rem;
        text-decoration: none !important;

        span:nth-child(1) {
          color: $title-text;
        }

        span:nth-child(2) {
          color: $main-text;
        }

        &:hover, &:active, &:focus {
          span:nth-child(1) {
            color: darken($title-text, 10%);
          }
  
          span:nth-child(2) {
            color: darken($main-text, 10%);
          }
        }
      }
    }
  }

  hr {
    border-top: 1px solid $card-bg;
    margin: .25rem auto;
    max-width: 900px;
  }
}

#main {
  max-width: 900px;
  margin: 0 auto;
  min-height: calc(100vh - 100px);

  #content {
    @media screen and (max-width: 776px) {
      padding: 1rem;
    }

    #socials {
      position: relative;
      z-index: 9;

      h5 {
        margin: 0 1rem 0 0;
      }

      a {
        margin: 0 .25rem;
      }
    }
  }
}

#footer {
  padding: 1rem;

  span {
    margin: 0 .25rem;

    a {
      color: $title-text;
      text-decoration: underline dotted;

      &:hover {
        color: darken($title-text, 10%);
      }
    }
  }
}

h1 {
  font-size: 1.3rem;
  color: $title-text;
  font-weight: 900;
  letter-spacing: 2px;
}

h5 {
  font-size: 1.1rem;
  color: $title-text;
  font-weight: 900;
  letter-spacing: 1px;
}

.text-muted {
  color: $title-text !important;
}

hr {
  border-top: 1px solid $card-bg;
}

a {
  color: $accent;

  &:hover, &:active, &:focus {
    color: darken($accent, 10%);
    text-decoration: none;
  }
}

.card {
  background: $card-bg !important;
  border: none;
  border-radius: 0;
}

.project-card {
  box-shadow: -5px 5px $title-text;
  position: relative;
  z-index: 9;

  h5 {
    margin-bottom: 0;

    a {
      color: $title-text;
    }
  }

  .project-tags {
    margin-bottom: .5rem;

    span {
      font-size: .8rem;

      &:before {
        content: '\23';
        font-family: 'font awesome 5 pro';
        margin-right: .25rem;
      }
    }
  }

  .read-more {
    font-size: .8rem;
    text-transform: uppercase;
  }

  &:hover {
    box-shadow: -5px 5px $accent;

    h5 {
      a {
        color: $accent;
      }
    }
  }
}

.project-img {
  height: 200px; 
  background-size: cover;
  background-position: center;
}

::selection {
  background: rgba($accent, 0.3);
}

::-moz-selection {
  background: rgba($accent, 0.3);
}