<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>agnes shan</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ get_url(path="egirl.css", trailing_slash=false) }}">
  <script src="https://kit.fontawesome.com/df4414359e.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="mobile-header">
    <button onclick="showSidebar()" class="btn" id="mobile-menu-toggle" data-toggle="off-canvas" data-target="#"><i class="fas fa-bars"></i></button>
  </div>
  <div class="row no-gutters">
    <div class="col-md-3">
      <ul class="sidebar nav d-flex flex-column" id="side-nav">
        <li class="nav-item" id="nav-home"><a class="nav-link" href="/">home</a></li>
        <li class="nav-item" id="nav-projects"><a class="nav-link" href="/projects">projects</a></li>
        <li class="nav-item" id="nav-resume"><a class="nav-link" href="/resume">resume</a></li>
        <li class="nav-item" id="nav-blog"><a class="nav-link" href="/blog">blog</a></li>
      </ul>
    </div>
    <div class="col-md-9" id="content">
      <section class="section" id="info-section">
        <div class="container">
          {% block content %} {% endblock %}
        </div>
      </section>
      
      <div class="footer">
        <span> Site powered by <a href="https://www.getzola.org/">Zola</a> © 2021 Agnes Shan </span>
      </div>
    </div>
  </div>
  {% block script %} {% endblock %}
  <script>
  function showSidebar() {
    var sidebar = document.getElementById("side-nav");
    if (sidebar.classList.contains("active")) {
      sidebar.classList.remove("active");
    } else {
      sidebar.classList.add("active");
    }
  }
  </script>
</body>
</html>
