{% extends "base.html" %}
{% block script %}
<script>
  var current = document.getElementById("nav-blog");
  current.classList.add("active");
</script>
{% endblock script %}
{% block content %}
<h1 class="title typewriter">
  {{ section.title }}
</h1>
<div class="body-text">
  <ul class="list-unstyled" style="font-size: 18px;">
    {% for page in section.pages %}
    <li><span class="mr-5">{{ page.date }}</span> <a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
