{% extends "base.html" %}

{% block script %}
<script>
  var current = document.getElementById("nav-projects");
  current.classList.add("active");
</script>
{% endblock script %}

{% block content %}
<h1 class="title typewriter">
  Projects
</h1>
<div class="body-text">
  <div class="d-flex flex-row flex-wrap">
    {% for page in section.pages %}
    <a href="{{ page.permalink | safe }}" class="container d-flex flex-column align-items-center project-box">
      <img src="static/{{ page.description }}.PNG" class="project-thumbnail">
      <span>{{ page.title }}</span>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}
