{% extends "base.html" %}

{% block script %}
<script>
  var current = document.getElementById("nav-projects");
  current.classList.add("active");
</script>
{% endblock script %}

{% block content %}
<div>
  {% for subsection_name in section.subsections|reverse %}
    {% set subsection = get_section(path=subsection_name) %}
    <h3 class="roboto-mono">{{ subsection.title }}</h3>
    <div class="row no-gutters mb-5">
      {% for page in subsection.pages %}
        <div class="col-md-4 p-2"> 
            <a href="{{ page.permalink }}" class="project-box">
              <img src="{{ page.extra.image }}" class="project-thumbnail">
              <span>{{ page.title }}</span>
              <small class="mb-1">
                {% for language in page.extra.languages %}
                  #{{ language }} 
                {% endfor %}
              </small>
            </a>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
{% endblock content %}
