{% extends "base.html" %}

{% block script %}
<script>
  var current = document.getElementById("nav-resume");
  current.classList.add("active");
</script>
{% endblock script %}

{% block content %}
<h1 class="title typewriter">
  Resume
</h1>
<div class="body-text">
  <p>If you would prefer a PDF version, <a href="/resume.pdf">here's my condensed resume</a>.</p>
  <h2>Get in Contact</h2>
  <div class="row no-gutters">
    <div class="col-md-6 col-12 p-1">
      <span><i class="fas fa-phone mr-2"></i>425-628-1608</span>
    </div>
    <div class="col-md-6 col-12 p-1">
      <span><i class="fas fa-globe mr-2"></i><a href="https://48nes.github.io">48nes.github.io</a></span>
    </div>
    <div class="col-md-6 col-12 p-1">
      <span><i class="fab fa-linkedin mr-2"></i><a href="https://www.linkedin.com/in/agnes-shan/">linkedin.com/in/agnes-shan</a></span>
    </div>
    <div class="col-md-6 col-12 p-1">
      <span><i class="fas fa-envelope mr-2"></i><a href="mailto:agnesshan@live.com">agnesshan@live.com</a></span>
    </div>
  </div>
  <h2 class="mt-4">Education</h2>
  <div class="row no-gutters">
    <div class="col-4 p-1">
      <strong class="resume-date">2020 - 2024</strong>
      <p> BS, Computer Science and Business </p>
    </div>
    <div class="col-8 p-1">
      <strong>Northeastern University</strong>
      <ul>
        <li><em>Honors:</em> Northeastern Honors College, Dean's List 2020-2022</li>
        <li><em>GPA:</em> 3.76 / 4.00</li>
        <li><em>Relevant Coursework</em> Algorithms, Object-Oriented Design, Networks and Distributed Systems, Computer Systems, Database Design, Investments, Fintech and Financial Innovation, Financial Management</li>
      </ul>
    </div>
    <div class="col-4 p-1">
      <strong class="resume-date">2016 - 2020</strong>
      <p> High School Diploma </p>
    </div>
    <div class="col-8 p-1">
      <strong>Interlake High School</strong>
      <ul>
        <li><em>Honors:</em> IB Diploma recipient, Physics HL, English Literature HL, History of the Americas HL, Business Management HL, Math SL, French SL</li>
        <li><em>GPA:</em> 4.00 / 4.00</li>
      </ul>
    </div>
  </div>
  <h2 class="mt-4">Computer Knowledge + Skills</h2>
  <p><strong>Languages:</strong> Java | Python | PostgreSQL | HTML | CSS/SASS | C++</p>
  <p><strong>Systems:</strong> Windows | Linux</p>
  <p><strong>Applications:</strong> Microsoft Office Suite | IntelliJ | Eclipse </p>
  <h2 class="mt-4">Experience</h2>
  <div class="row no-gutters">
    <div class="col-4 p-1">
      <strong class="resume-date">February 2020 - Present</strong>
    </div>
    <div class="col-8 p-1">
      <strong>Web Design</strong>
      <ul>
        <li>Launched my own web design business and shop, serving over 200 customers within one year of launch</li>
        <li>Built web applications and static sites using Python, JavaScript, HTML, and CSS/SASS</li>
	<li>Expanded customer base by developing applications to boost engagement</li>
	<li>Generated revenue through multiple channels of distribution</li>
      </ul>
    </div>
    <div class="col-4 p-1">
      <strong class="resume-date">2019 - 2020</strong>
    </div>
    <div class="col-8 p-1">
      <strong>Intern at <a href="https://www.gocobuy.com/">CoBuy</a></strong>
      <ul>
        <li>Conducted quality assurance testing for site function</li>
        <li>Audited partnership meetings and tracked potential networking opportunities</li>
      </ul>
    </div>
    <div class="col-4 p-1">
      <strong class="resume-date">2019 - 2020</strong>
    </div>
    <div class="col-8 p-1">
      <strong>Lead Graphics at <a href="https://www.itsrealmagazine.org/">It's Real</a></strong>
      <ul>
        <li>Crafted graphics for It's Real's <a href="https://www.instagram.com/itsreal.official/?hl=en">instagram</a></li>
        <li>Steered design choices</li>
      </ul>
    </div>
    <div class="col-4 p-1">
      <strong class="resume-date">2017 - 2020</strong>
    </div>
    <div class="col-8 p-1">
      <strong>Co-founder at Bellevue AMC</strong>
      <ul>
        <li>Created worksheets and taught classes</li>
        <li>Managed financial accounts</li>
      </ul>
    </div>
    <div class="col-4 p-1">
      <strong class="resume-date">2016 - 2018</strong>
    </div>
    <div class="col-8 p-1">
      <strong>Tutor at Kumon</strong>
      <ul>
        <li>Reviewed lesson material with students</li>
        <li>Recognize problems and recommend solutions to parents</li>
      </ul>
    </div>
  </div>
  <h2 class="mt-4">Projects</h2>
  <p>Please view my projects <a href="/projects">here</a>.</p>
</div>
{% endblock content %}
