{% extends "base.html" %}

{% block content %}
<div class="alert alert-info rounded-0 border-0">
  Still working on this page...
</div>
<div class="row no-gutters mt-5">
  <div class="col-md-6 p-2">
    <iframe src="/resume.pdf" class="w-100" style="height: 600px;"></iframe>
  </div>
  <div class="col-md-6 p-2 d-flex flex-column justify-content-center">
    <p>This is my condensed resume.</p>
    <p>(you can also download it <a href="/resume.pdf">here</a>!)</p>
  </div>
</div>
{% endblock content %}