{% extends "base.html" %}

{% block script %}
<script>
  var current = document.getElementById("nav-resume");
  current.classList.add("active");
</script>
{% endblock script %}

{% block content %}
<h1 class="title typewriter">
  Resume
</h1>
<div class="body-text">
  <h2>Get in Contact</h2>
  <div class="row no-gutters">
    <div class="col-md-6 col-12 p-1">
      <span><i class="fas fa-phone mr-2"></i>425-628-1608</span>
    </div>
    <div class="col-md-6 col-12 p-1">
      <span><i class="fas fa-globe mr-2"></i><a href="https://48nes.github.io">48nes.github.io</a></span>
    </div>
    <div class="col-md-6 col-12 p-1">
      <span><i class="fab fa-linkedin mr-2"></i><a href="https://www.linkedin.com/in/agnes-shan/">linkedin.com/in/agnes-shan</a></span>
    </div>
    <div class="col-md-6 col-12 p-1">
      <span><i class="fas fa-envelope mr-2"></i><a href="mailto:agnesshan@live.com">agnesshan@live.com</a></span>
    </div>
  </div>
  <h2 class="mt-4">Experience</h2>
  <div class="row no-gutters">
    <div class="col-4 p-1">
      <strong class="resume-date">2019 - 2020</strong>
    </div>
    <div class="col-8 p-1">
      <strong>Intern at <a href="https://www.gocobuy.com/">CoBuy</a></strong>
      <ul>
        <li>Aided in event setup and presentation</li>
        <li>Audited various partnership meetings</li>
      </ul>
    </div>
    <div class="col-4 p-1">
      <strong class="resume-date">2019 - 2020</strong>
    </div>
    <div class="col-8 p-1">
      <strong>Lead Graphics at <a href="https://www.itsrealmagazine.org/">It's Real</a></strong>
      <ul>
        <li>Crafted graphics for It's Real's <a href="https://www.instagram.com/itsreal.official/?hl=en">instagram</a></li>
        <li>Steered design choices</li>
      </ul>
    </div>
    <div class="col-4 p-1">
      <strong class="resume-date">2017 - 2020</strong>
    </div>
    <div class="col-8 p-1">
      <strong>Co-founder at Bellevue AMC</strong>
      <ul>
        <li>Created worksheets and taught classes</li>
        <li>Managed financial accounts</li>
      </ul>
    </div>
    <div class="col-4 p-1">
      <strong class="resume-date">2016 - 2018</strong>
    </div>
    <div class="col-8 p-1">
      <strong>Tutor at Kumon</strong>
      <ul>
        <li>Reviewed lesson material with students</li>
        <li>Recognize problems and recommend solutions to parents</li>
      </ul>
    </div>
  </div>
  <h2 class="mt-4">Education</h2>
  <div class="row no-gutters">
    <div class="col-4 p-1">
      <strong class="resume-date">2020 - 2024</strong>
      <p> BS, Computer Science and Business </p>
    </div>
    <div class="col-8 p-1">
      <strong>Northeastern University</strong>
      <ul>
        <li>Northeastern Honors College</li>
        <li>Dean's List Fall 2020, Spring 2021</li>
      </ul>
    </div>
    <div class="col-4 p-1">
      <strong class="resume-date">2016 - 2020</strong>
      <p> High School Diploma </p>
    </div>
    <div class="col-8 p-1">
      <strong>Interlake High School</strong>
      <ul>
        <li>IB Diploma recipient, 4HL 2SL</li>
        <li>GPA 4.0</li>
      </ul>
    </div>
  </div>
  <h2 class="mt-4">Skills</h2>
  <ul>
    <li>Certified in Microsoft Office Suite through Certiport</li>
    <li>Fluent in HTML and CSS</li>
    <li>Fluent in English, verbal fluency in Chinese</li>
  </ul>
</div>
{% endblock content %}
