{% extends "base.html" %}
{% block script %}
<script>
  var current = document.getElementById("nav-projects");
  current.classList.add("active");
</script>
{% endblock script %}
{% block content %}
<h1 class="title">
  Toyhouse Rethemes
</h1>
<div class="body-text">
  <p>Creating custom rethemes for toyhou.se has been a long-term passion project of mine. Below you can view an overview of what toyhou.se is and an archive of some of my best work.</p>
  <h4 class="mt-4">Toyhou.se</h4>
  <p>Toyhou.se is a character management site used by artists and writers to organize and showcase their original characters. Toyhou.se allows all users access to HTML customization of profiles and premium users access to CSS customization. Toyhou.se uses the <a href="https://getbootstrap.com/">Bootstrap</a> framework for all pages.</p>
  <h4 class="mt-4">Rethemes</h4>
  <p>Here are some of my best rethemes*:</p>
  <div class="row no-gutters">
    <div class="col-md-4 p-1">
      <a href="https://toyhou.se/11777763.-19-satsuki/11777778.satsuki?key=eqVplzWQIemFpOO" class="container d-flex flex-column align-items-center project-box my-3">
        <img src="https://i.imgur.com/YJiy9e8.jpg" class="project-thumbnail">
        <span>Satsuki</span>
      </a>
    </div>
    <div class="col-md-4 p-1">
      <a href="https://toyhou.se/~world/80759.food-fantasy" class="container d-flex flex-column align-items-center project-box my-3">
        <img src="https://i.imgur.com/uMzbZMu.png" class="project-thumbnail">
        <span>Food Fantasy</span>
      </a>
    </div>
    <div class="col-md-4 p-1">
      <a href="https://toyhou.se/11686775.-f2u-luna/11686811.-8-luna-css?key=vxccHBZpG9Z6W7g" class="container d-flex flex-column align-items-center project-box my-3">
        <img src="https://f2.toyhou.se/file/f2-toyhou-se/characters/11686775?1626142036" class="project-thumbnail">
        <span>Luna</span>
      </a>
    </div>
    <div class="col-md-4 p-1">
      <a href="https://toyhou.se/~world/76838.-9-reef" class="container d-flex flex-column align-items-center project-box my-3">
        <img src="https://f2.toyhou.se/file/f2-toyhou-se/characters/10739432?1625621422" class="project-thumbnail">
        <span>Reef</span>
      </a>
    </div>
    <div class="col-md-4 p-1">
      <a href="https://toyhou.se/9726664.-001-wips/11738345.-05-shinji?key=4S98TTpzJriqpOB" class="container d-flex flex-column align-items-center project-box my-3">
        <img src="https://i.imgur.com/EjfwcTQ.png" class="project-thumbnail">
        <span>Shinji</span>
      </a>
    </div>
    <div class="col-md-4 p-1">
      <a href="https://toyhou.se/9726664.-001-wips/11733080.-02-bakery?key=QQEoS5XsYN8Wo5k" class="container d-flex flex-column align-items-center project-box my-3">
        <img src="https://i.imgur.com/78mMgz8.png" class="project-thumbnail">
        <span>Bakery</span>
      </a>
    </div>
  </div>
  <div class="text-right">*some themes are limited in access for purposes of security, please email me at <a href="mailto:agnesshan@live.com">agnesshan@live.com</a> and I will generate an access link for you.</div>
</div>
{% endblock content %}