{% extends "base.html" %}
{% block script %}
<script>
  var current = document.getElementById("nav-projects");
  current.classList.add("active");
</script>
{% endblock script %}
{% block content %}
<div>
  <h3 class="roboto-mono">{{ page.title }}</h3>
  <h5 class="font-weight-normal mb-0">{{ page.date }}</h5>
  <p class="text-primary mx-n1">
    {% for language in page.extra.languages %}
    <span class="m-1">#{{ language }}</span>
    {% endfor %}
  </p>
  {{ page.content | safe }}
</div>
{% endblock content %}